# S3
S3_BUCKET_NAME: "bucket_name"
S3_BUCKET_NAME_PROD: "bucket_name_prod"
AWS_ACCESS_KEY_ID: "your_access_key_id"
AWS_SECRET_ACCESS_KEY: "your_secret_access_key"
AWS_REGION: "your_aws_region"

# Stripe test credentials
test:
  STRIPE_PUBLISHABLE_KEY: "pk_test_6pRNASCoBOKtIshFeQd4XMUh"
  STRIPE_SECRET_KEY: "sk_test_BQokikJOvBiI2HlWgH4olfQ2"
