@media screen and (max-device-width: 640px) {
  html {
    font-size: 35px;
  }
  .container {
    max-width: none;
  }
}

.blason {
  height: 16em;
  margin: -3em;
  // width: 6em;
}

.blason-paris {
  height: 6em;
  // width: 6em;
  margin-bottom: 20px;
}

.avatar {
  height: 4em;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patrol-link {
  color: #772233;
  padding-right: 8px;
}

.patrol-link:hover {
  background-color: #EEEEEE;
}

.red {
  color: red;
}

.green {
  color: green;
}

h1 {
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 1em;
}

.flash {
  text-align: center;
  padding: 0.7em;
  color: white;
  font-size: 1.1em;
  top: 0;
  z-index: 2;
}

.success {
  background-color: #50bd91;
}

.warning {
  background-color: #ff2d5c;
}

.info {
  background-color: #fbc929;
}

a {
  color: #772233;
}

.nav-link:hover {
  text-decoration: underline;
  color: #772233;
}

