<!DOCTYPE html>

<% City.all.each do |c|%>
  <h4>
    <%= c.name %>
    <%= c.troop&.name %>
  </h4>
  <% if c.pillaged %>
    <p style="background-color:red; color: white; padding: 6px;">
      La ville est tombée au tour passée
    </p>
  <% else %>
    <p style="background-color:green; color: white; padding: 6px;">
      La ville s'est défendue au tour passée
    </p>
  <% end %>
  puissance des fortifications:
  <%= c.defense_building_multiplicator %>
  <hr>
<% end %>
